.page_index{
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
.logo {
  color: #ed745d;
  font-size: 30px;
  line-height: 2;
}

input[type=text] {
  height: 30px;
  background-color: rgba(225, 225, 225, .4);
  border-radius: 50px;
  padding-left: 20px;
  font-size: 15px;
  width: 150px;
  outline: none;
  border: 1px solid #cccccc;
}

input[type=text]:focus {
  border: 1px solid bisque;
}

input:-moz-placeholder {
  color: bisque;
}

.user {
  height: 100%;
  display: inline-block;
}
.header_flxed{
  padding: 0 10px;
  position: fixed;
  z-index: 999;
  background-color: white;
  top:0;
  left: 0;
  width: 100%;
  height: 60px;
  border-color: #e7e7e7;
  border-bottom: 1px solid #ccc;
}
.nav{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  float: left;
}
.avatar img{
  width: 100%;
}
.user{
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 100%;
  justify-content: space-around;
}
.write{
  width: 100px;
  height: 38px;
  background-color: #ed745d;
  border: none;
  color: white;
  line-height: 24px;
  margin: 9px 15px 0;
  border-radius: 4px;
  font-size: 15px;
}
.user_info :before{
  content: "";
  position: absolute;
  top: 28px;
  right: 175px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #999;
}
.dropdown-menu{
  display: none;
  right: 100px;
  list-style: none;
  position: absolute;
  top: 55px;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  text-align: center;
}
.open{
  display: block;
  transition:all 1s ease-in-out 1s;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

.bannar {
  width: 100%;
  height: 400px;
}

.bannar_img img {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.content{
  margin-top: 50px;
}

.page_index .user_name {
  margin: 0 10px;
}

time {
  color: #ccc;
}

.title {
  font-size: 20px;
  margin: 20px 0;
}

.content_main p {
  width: 80%;
  font-size: 13px;
  line-height: 2;
  word-break:break-all;
  white-space:nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_item {
  list-style: none;
  padding: 20px ;
  border-bottom: 1px solid #ccc;
}
.content_item:last-child{
  border-bottom: none;
}

.content_pic {
  margin-left: 50px;
}

.content_pic img {
  width: 125px;
  height: 100px;
  border-radius: 5%;
}

.content_main {
  display: flex;
  flex-direction: row;
      padding-left: 40px;
}

.comment{
  color: #ccc;
}
.comment span{
  padding: 0 10px;
}
.button-center{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.learnmore{
  width: 300px;
  height: 40px;
  border: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #ed745d;
  outline: none;
}
