<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>逼乎首页</title>
    <link href="{{ url_for('static',filename = 'css/body.css')}}" rel="stylesheet" type="text/css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="body">
    <section class="left">
        <div class="nav">
            <div class="top">
                <div class="logo">逼</div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-th hover"></span>
                        <span class="glyphicon glyphicon-gift hover"></span>
                        <span class="glyphicon glyphicon-pencil hover"></span>
                        <span class="glyphicon glyphicon-phone hover"></span>
                    </li>
                </ul>

            </div>
            <div class="bottom">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="glyphicon glyphicon-bookmark"></span>
                        <span class="glyphicon glyphicon-bell"></span>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="glyphicon glyphicon-font"></span>
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="glyphicon glyphicon-log-out"></span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="secondPart">
            <div class="article">
                <h1>逼书</h1>
                <h3>交流故事,沟通想法</h3>
                <p>一个基于内容分享的社区</p>
                <a class="btn btn-large btn-success" href="#">提笔写文章</a>
                <i class="fa fa-info"></i>
            </div>
        </div>
    </section>
    <nav class="search">
        <div class="nav-top">
            <ul>
                <li class="find">发现</li>
                <li>关注</li>
                <li>2015精选</li>
                <li class="glyphicon glyphicon-certificate"></li>

            </ul>
            <div class="input-group input">
                <input type="text" class="form-control" placeholder="搜索">
            </div>
            <div class="search-img">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
        <div class="nav-right">

            <div class="dropdown dropdown-con">
                <button class="btn dropdown-toggle dropdown-button" type="button" id="dropdownMenu1"
                        data-toggle="dropdown">
                    <div class="profile">
                        <img src="{{url_for('static',filename='img/1.jpeg')}}">
                    </div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-ul" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-pencil">我的设置</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-user">我的主页</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-minus">写信</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-th">简信</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-headphones">我的音乐</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-tint">我的记录</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-thumbs-up">我的点赞</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-send">我的发送</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-tree-deciduous">我的逼书</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-earphone">我的电话</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-flash">我的血条</span></a></li>
                </ul>


            </div>
        </div>
    </nav>
    <section class="section">
        <div class="right">
            <ul class="right-ul">
                <li><a href="#" class="remen">热门</a></li>
                <li><a href="#">时事新闻</a></li>
                <li><a href="#">免费小说</a></li>
                <li><a href="#">新上榜</a></li>
                <li><a href="#">七日热门</a></li>
                <li><a href="#">三十日热门</a></li>
                <li><a href="#">日报</a></li>
                <li><a href="#">专题精选</a></li>
                <li><a href="#">有奖活动</a></li>
                <li><a href="#">逼书出版</a></li>
                <li><a href="#">逼书博客</a></li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>这也许一直都是个秘密</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="{{url_for('static',filename='img/2.jpeg')}}">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>关于我为什么会这么爱你</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="{{url_for('static',filename='img/4.jpeg')}}">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>你有没有想过,如果我们不曾遇见会怎么样?</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/5.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>对你的偏爱太过于明目张胆</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/6.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>原来我也是写过情书的呢!</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/7.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>那我可曾记得我收到的第一封情书是来自于谁?</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/8.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>原来最幸福的日子就是和最爱的人一起过安宁的生活</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/9.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>原谅是在你面前作得不能再作,因为我知道你会宠我!</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/10.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>亲爱的,你过的好吗?</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/11.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>为了遇见你,我珍惜自己</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/12.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>大事な人はできましたか？</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/13.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>我们遇见的,就是最好的时候</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/14.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>Do you wanna change a lifestyle of us?</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/15.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>行走的力量</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/16.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>谁说天平和摩羯不和,完全就是胡扯!</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>

                    </div>
                    <div class="ul-img">
                        <img src="img/17.jpeg">
                    </div>
                </li>
            </ul>
            <ul class="firstUl lastul">
                <li>
                    <div class="haveing-img">
                        <a href="#">酷酷的梦女神</a>
                        <time>大约13个小时之前</time>
                        <h4>和你在一起的时候,我从未羡慕过别人</h4>
                        <span>阅读</span><span>1123</span>
                        <span>·评论</span><span>367</span>
                        <span>·喜欢</span><span>532</span>
                        <span>·打赏</span><span>0</span>
                    </div>
                    <div class="ul-img">
                        <img src="img/18.jpeg">
                    </div>
                </li>
            </ul>
            <div class="button-center">
                <button class="learnmore">点击查看更多</button>
            </div>
        </div>
        <footer>
            <span>关于逼书</span>
            <span>联系作者</span>
            <span>帮助中心</span>
            <span>逼书周边</span>
            <span>合作伙伴</span>
            <div>
                ©2012-2016 逼书 / 沪ICP备11018329号-5 /Beianbgs <a>沪公网安备31010602000064号</a>
            </div>
        </footer>

    </section>

</div>
</body>
</html>