<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>逼乎注册</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
  <link rel="stylesheet" href='../static/css/register.css'>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap-theme.min.css')}}">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</head>
<body>
<section class="body_container">
    <section class="main">
        <h1> 逼乎</h1>
        <p>第三方登陆</p>
        <p>已有账号?<a href="#">点此绑定</a></p>
        <form role="form" method="post" action="{{ url_for('do_register') }}">
            <div class="form-group">
                <label for="exampleInputUsername">User name</label>
                <input type="text" class="form-control" id="exampleInputUsername"
                       placeholder="User name" name="username">
              <span class="attention">x 用户名不合法</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1"
                       placeholder="Enter email" name="email">
              <span class="attention">x 邮箱不正确</span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="Password" name="password">
              <span class="attention">x 密码不正确</span>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" value="我同意"><span>我同意 </span><strong><a href="#">用户协议</a></strong>
                </label>
            </div>
            <button type="submit" class="btn" onclick="do_register()"><a href="#"></a>确认注册</button>
        </form>
          <!--{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}-->
    </section>
    <footer>
        <i>
            @2016逼乎<br>Powered By WeCenter<br>
            站长统计-当前在线[19]
        </i>
    </footer>
</section>
<script>
  var


</script>
</body>
</html>