<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>逼乎注册</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheet/body.css">
  <link rel="stylesheet" href='../../../../static/css/register.css'>

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="../stylesheet/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="../js/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../js/bootstrap.min.js"></script>

</head>
<body>
<section class="body_container">
  <section class="main">
    <h1> 逼乎</h1>
    <p>第三方登陆</p>
    <p>已有账号?<a href="#">点此绑定</a></p>
    <form role="form" method="post" action="" id="form">
      <div class="form-group">
        <label for="exampleInputUsername">User name</label>
        <input type="text" class="form-control" id="exampleInputUsername"
               placeholder="User name" name="username" required>
        <span class="attention">x 用户名不合法</span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1"
               placeholder="Enter email" name="email"required>
        <span class="attention">x 邮箱不正确</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
               placeholder="Password" name="password" required>
        <span class="attention">x 密码不正确</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">comfirm password</label>
        <input type="password" class="form-control" id="exampleInputPassword2"
               placeholder="Password" name="password" required>
        <span class="attention">x 密码不正确</span>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="我同意"><span>我同意 </span><strong><a href="#">用户协议</a></strong>
        </label>
      </div>
      <button type="button" class="btn">确认注册</button>
      <!--<div class="btn2">点击</div>-->

    </form>
  </section>
  <footer>
    <i>
      @2016逼乎<br>Powered By WeCenter<br>
      站长统计-当前在线[19]
    </i>
  </footer>
</section>
<script type="text/javascript">
  $('.btn').click(function () {
    $(".attention").hide();
    var userName = $('#exampleInputUsername').val();
    var Email = $('#exampleInputEmail1').val();
    var Password1 = $('#exampleInputPassword1').val();
    var Password2 = $('#exampleInputPassword2').val();
    if (userName == ''){
      $('#exampleInputUsername').siblings('.attention').text("用户名不正确").css('display', 'block');
      $('#exampleInputUsername').focus();
      return;
    }
    if (Email == ''){
      $('#exampleInputEmail1').siblings('.attention').css('display', 'block');
      $('#exampleInputEmail1').focus();
      return;
    }
    if (Password1 == ''){
      $('#exampleInputPassword1').siblings('.attention').css('display', 'block');
      $('#exampleInputEmail1').focus();
      return;
    }
    if (Password2 == ''){
      $('#exampleInputPassword1').siblings('.attention').css('display', 'block');
      $('#exampleInputEmail1').focus();
      return;
    }
    if (Password1 !== Password2) {
      $('#exampleInputPassword2').siblings(".attention").css('display', 'block');
      return;
    }
    $.ajax({
      url: 'http://127.0.0.1:5000/api/register',// this is server address
      type: 'post',
      timeout: 1000,
      dataType: 'json',
      data: {
        'username': userName,
        'password': Password1,
        'email': Email
      },
      success: function (data) {
        console.log(data);
        if (data.code == 'SUCCESS') {
          alert("注册成功");
        } else {
          alert(data.message);
        }
        if (userName == null) {
          $('.attention').css('display', 'block');
        }
      }
    })

  })


</script>
</body>
</html>