<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/page.css">

</head>
<body>

<header class="header_flxed">
    <nav class="nav">
        <a href="index.html" class="logo">
            <span>逼乎</span>
        </a>
        <input class="search" type='text' placeholder="搜索">
        <div class="user">
            <a class="user_info" >
                <div class="avatar" data-hover="dropdrown">
                    <img src="../img/2.jpeg" alt="avatar">
                </div>
            </a>
            <a class="write" href="write.html" >写文章</a>
        </div>
        <ul class="dropdown-menu">
            <li> 我的文章</li>
            <li> 我的主页</li>
        </ul>
    </nav>
</header>
<div class="page_single" id="article">
    <div class="article">
        <!--title-->
        <h1 class="title" v-text="title"></h1>
        <!--作者信息-->
        <div class="author">
            <div class="avatar">
                <img v-bind:src="img_url" alt="">
            </div>
            <div class="author_info">
                <a href="#" class="user_name">酷酷的梦女神</a>
                <a href="#" class="user_comment">评论 (<span>12</span>)</a>
            </div>
        </div>
        <!--文章内容-->
        <div class="content">
            <img v-bind:src="img_url" class="content_img">
            <p v-html="content"></p>
        </div>
        <button class="btn_pay"><a href="#">赞赏和支持</a></button>
    </div>
    <div class="new_comments">
        <form action="" id="comment_form" v-on:submit.prevent="comment_submit">
            <div class="avatar">
                <img src="../img/1.jpeg" alt="">
            </div>
            <textarea placeholder="写下你的评论..." v-model="comment"></textarea>
            <button type="submit" class="submit_comment">提交评论</button>
        </form>
    </div>
    <div class="comment">
        <div class="comment_info">
            <span class="comment_total"><i id="comment_total" v-text=" comment_total "></i>条评论</span>
            <div class="comment_ranking">
                <span class="active">按时间正序</span>
                <span>按时间倒序</span>
            </div>
        </div>
        <ul>
            <li class="comment_item" v-for="comment in comments">
                <div class="author">
                    <div class="avatar">
                        <img src="../img/1.jpeg" alt="">
                    </div>
                    <div class="author_info">
                        <a href="#" class="user_name">酷酷的梦女神</a>
                        <span class="user_time">2017.03.14</span>
                    </div>
                </div>
                <p class="comment_content">
                    {{ comment.body }}
                </p>
            </li>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/framework/jquery.min.js"></script>
<script type="text/javascript" src="../js/framework/handlebars-v4.0.10.js"></script>
<script src="../js/framework/vue.js"></script>
<script src="../js/app/page.js"></script>

</html>