<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" type="text/css" href="../css/simditor.css">
    <link media="all" rel="stylesheet" type="text/css" href="../css/common.css">
    <link media="all" rel="stylesheet" type="text/css" href="../css/write.css">
</head>

<body>
<div id="edit">


    <section class="left">
        <button class="back btn_left "><a href="index.html">回首页</a></button>
        <button class="submit btn_left" v-on:click="onSubmit()">提交</button>
    </section>
    <section class="right" id="right">
        <input id="title" class="title focus" v-model="title" placeholder="这里输入题目" focus>
        <textarea id="editor" placeholder="hah" autofocus v-model="content"></textarea>
        <input type="hidden" name="key" value="val"/>
    </section>
</div>
</body>
<script src="../js/framework/jquery.min.js"></script>
<script src="../js/framework/module.min.js"></script>
<script src="../js/framework/hotkeys.min.js"></script>
<script src="../js/framework/simditor.min.js"></script>
<script src="../js/framework/uploader.min.js"></script>
<script src="../js/framework/vue.js"></script>
<script src="../js/app/write.js"></script>
</html>